@import "../../global.scss";

.whyme{
    // background-color: $lightwhite;
    display: flex;
    justify-content: space-around;
    font-family: "Nunito", sans-serif;
    padding-top: 60px;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .left{
        flex: 0.5;
        .title{
            display: flex;
            justify-content: center;
            margin-left: -60px;
            color: $darkgrey;
            font-size: 35px;
            display: flex;
            align-items: center;
            font-family: "Halant", sans-serif;
            @include mobile{
                padding-left: 0;
                align-items: center;
                font-size: 22px;
            }
        }
        .box{
            margin-top: -30px;
            max-width: 600px;
            max-height: 600px;
            border: 2px solid $lightblue;
            padding: 50px;
            border-radius: 0px 25px 25px 0px;
            background-color: $lightblue;
            text-align: center;
            @include mobile{
                padding: 0;
                align-items: center;
            }
            .line2{
                background-color: $lightblue;
                font-size: 23px;
                color: $darkgrey;
                font-weight: bold;
                @include mobile{
                    padding: 0;
                    align-items: center;
                    font-size: 20px;
                }
            }  
            .line1{
                background-color: $lightblue;
                font-size: 23px;
                color: $darkgrey;
                font-weight: bold;
                @include mobile{
                    padding: 0;
                    align-items: center;
                    font-size: 20px;
                }
            }  
            hr{
                background-color: $darkgrey;
                height: 2px;
                width: 150px;
            }
        }
    }
    .right{
        flex: 0.5;
        .title{
            margin-left: 30px;
            color: $darkgrey;
            font-size: 35px;
            display: flex;
            align-items: center;
            font-family: "Halant", sans-serif;
            @include mobile{
                text-align: center;
                align-items: center;
                font-size: 22px;
            }
        }
        .box{
            display: flex;
            flex-direction: column;
            margin-top: -50px;
            p{
                border: 3.5px solid $lightblue;
                padding: 10px;
                margin-left: 30px;
                font-size: 23px;
                color: $darkgrey;
                font-weight: bold;
                transition: 0.4s;
                &:hover{
                    transform: scale(1.1);
                }
                @include mobile{
                    font-size: 19px;
                    display: table;
                    padding: 7px;
                }
            }
            .row1{
                display: flex;
                margin-bottom: -20px;
            }
            .row2{
                display: flex;
                margin-bottom: -20px;
            }
            .row3{
                display: flex;
            }
            hr{
                background-color: $darkgrey;
                height: 2px;
                width: 150px;
                margin-left: 30px;
                margin-top: 10px;
            }
            .btn1{
                margin-left: 30px;
                background-color: $darkgrey;
                width: 195px;
                height: 40.6px;
                margin-top: 25px;
                border-radius: 50px;
                font-weight: 600;
                font-size: large;
                transition: 0.4s;
                &:hover{
                    transform: scale(1.1);
                }
                @include mobile{
                    align-items: center;
                }
                .linkInBtn{
                    background-color: $darkgrey;
                }
                a{
                    text-decoration: none;
                    color: $lightblue;
                }
            }
        }
        .img-container{
            background: url(../assets/icon/botrighticon.png);
            width: 250px;
            height: 170px;
            background-repeat: no-repeat;
            float:right;
            background-size: cover;
            position: relative;
            @include mobile{
                display: none;
            }
            .linkInBtn1{
                position: absolute;
                background-color: $darkgrey;
                border: none;
                right: 93px;
                bottom: 20px;
            }
            .github{ 
                font-size: 60px;
                color: $lightblue;
                background-color: $darkgrey;
                &:hover{
                    color: $lightwhite;
                }
            }
            .linkInBtn2{
                position: absolute;
                background-color: $darkgrey;
                border: none;
                color: $darkgrey;
                right: 13px;
                bottom: 15px;
            }
            .linkein{
                font-size: 70px;
                color: $lightblue;
                background-color: $darkgrey;
                &:hover{
                    color: $lightwhite;
                }
            }
        }
    }
}