@import "../../global.scss";

.footer{
    // background-color: #ecece1;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    font-size: large;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    color: $darkgrey;
}